body {
    margin: 10px auto;
    width: 100%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

header {
    text-align:left;
    padding:5px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size:2em
}
.wrap {
    width:600px;
    margin:10 auto;
}

.rightsection {
    float:left;
    width:480px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
/*Navbar*/
.ac-container{
    width: 33%;
    text-align: left;
    float: left;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

.ac-container label{
    padding: 1px 20px;
    position: relative;
    z-index: 20;
    display: flex;
    height: auto;
    width:auto;
    cursor: pointer;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
    line-height: 2em;
    font-size: 1.5em;
    background: #ffffff;
}

.ac-container label:hover{
    text-decoration: line-through;
}

.ac-container input{
    display: none;
}

#home {
    text-decoration: none;
    padding: 1px 20px;
    position: relative;
    z-index: 20;
    display: flex;
    width: auto;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    cursor: pointer;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
    line-height: 2em;
    font-size: 1.5em;
    background: #ffffff;
    color:black;
}
#home:hover{
    text-decoration: line-through;            
}

.ac-container section{
    margin-top: 5px;
    overflow: hidden;
    max-height: 0px;
    position: relative;
    z-index: 10;
    -webkit-transition: max-height 0.3s ease-in-out;
    -moz-transition: max-height 0.3s ease-in-out;
    -o-transition: max-height 0.3s ease-in-out;
    -ms-transition: max-height 0.3s ease-in-out;
    transition: max-height 0.3s ease-in-out;
}
.ac-container section p{
    font-style: italic;
    color: #777;
    line-height: 1.25em;
    font-size: 1em;
    padding: 1px 20px;
    position:relative;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}

.ac-container input:checked ~ section{
    -webkit-transition: max-height 0.25s ease-in-out ;
    -moz-transition: max-height 0.25s ease-in-out;
    -o-transition: max-height 0.25s ease-in-out;
    -ms-transition: max-height 0.25s ease-in-out;
    transition: max-height 0.25s ease-in-out;
}

.ac-container input:checked ~ section.ac-small{
    max-height: 1000px; /*auto*/
}
