        <style>
        
        .ac-container{
            width: 100px;
            text-align: left;
            float: left;
        }

        .ac-container label{
            padding: 1px 10px;
            position: relative;
            z-index: 20;
            display: flex;
            height: auto;
            width:auto;
            cursor: pointer;
            text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
            line-height: 33px;
            font-size: 1.5em;
            background: #ffffff;
        }

        .ac-container label:hover{
            text-decoration: line-through;
        }
        
        .ac-container input{
            display: none;
        }
        
        #home:hover{
            text-decoration: line-through;            
        }

        .ac-container section{
            margin-top: -5px;
            overflow: hidden;
            max-height: 0px;
            position: relative;
            z-index: 10;
            -webkit-transition: max-height 0.3s ease-in-out;
            -moz-transition: max-height 0.3s ease-in-out;
            -o-transition: max-height 0.3s ease-in-out;
            -ms-transition: max-height 0.3s ease-in-out;
            transition: max-height 0.3s ease-in-out;
        }
        .ac-container section p{
            font-style: italic;
            color: #777;
            line-height: 1em;
            font-size: 1em;
            padding: 1px 10px;
            text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
        }

        .ac-container input:checked ~ section{
            -webkit-transition: max-height 0.25s ease-in-out ;
            -moz-transition: max-height 0.25s ease-in-out;
            -o-transition: max-height 0.25s ease-in-out;
            -ms-transition: max-height 0.25s ease-in-out;
            transition: max-height 0.25s ease-in-out;
        }

        .ac-container input:checked ~ section.ac-small{
            max-height: 1000px; /*auto*/
        }

        </style>
        <div class="ac-container">
            <div>
                 <a href="/"; id="home"; style="padding: 1px 10px; position: relative; z-index: 20; display: flex; height: auto; width:auto; cursor: pointer; text-shadow: 1px 1px 1px rgba(255,255,255,0.8); line-height: 33px; font-size: 1.5em; background: #ffffff; width: auto; text-align: left; color:black;">Home</a>            
            </div>
            <div>
            <input id="ac-2" name="accordion-2" type="checkbox" />

                <section class="ac-small">
                    <li><a href="/cv">CV</a></li>
                    <li>Test item 2</li>
                    <li>Test item 3</li>
                </section>
                <label for="ac-2">About</label>

            </div>    
            <div>    
                <section class="ac-small">
                    <li>I should post the most recent 5 blog posts here..</li>
                    <li>along with a link to <a href="/blog">the whole blog</a></li>
                </section>
                <label for="ac-3">Blog</label>   
            </div>
                <input id="ac-4" name="accordion-4" type="checkbox" />
                <section class="ac-small">
                    <li>Links to various<a href="/map.html">maps</a></li>
                    <li>Map 2</li>
                    <li>Map 3</li>
                </section>
                <label for="ac-4">Maps</label>             
            <div>
                <input id="ac-5" name="accordion-5" type="checkbox" />
                <section class="ac-small">
                    <li>I should post the most recent 5 presentations here..</li>
                    <li>along with a link to <a href="/presentations">all the presentations</a></li>
                </section>
                <label for="ac-5">Preso's</label>                   
            </div>
            <div>
                <input id="ac-6" name="accordion-6" type="checkbox" />
                <section class="ac-small">
                    <li>Audio stuff</li>
                    <li>Casting stuff</li>
                    <li>Whatever stuff</li>
                </section>
                <label for="ac-6">Fragments</label>                   
            </div>
        </div>


