<!DOCTYPE html>
	<html>
	    <head>
	        <title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	    </head>
	    <body>
	        <div class="header">
			<p>Hi, I'm Ryan. This is my website.</p>
	        </div>
	        <div id="wrap">
	            <div class="leftsection">
	            		<br><br>
				<a href="/">Home</a><br>
				<a href="/about">About</a><br>
				<a href="/cv">CV</a><br>
				<a href="/blog">Blog</a><br>
				<a href="/map.html">Map</a>
				<a href="/presentations">Presentations</a>
	            </div>
	            <div class="rightsection"> {{ content }} </div>
	        </div>
	    </body>
	</html>
